@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container my-4 d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
    <h1 style="font-weight: bold;color:#20B486;">@ViewData["Title"]</h1>
    <p>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>

