<body>
    <div class="contact-us min-vh-100">
        <div class="container" id="contact">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <!-- Contact form -->
                    <div class="contact-form">
                        <h2 class="text-center">CONTACT US</h2>
                        <form>
                            <label class="form-label">Leave us a message</label>
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="email" class="form-control" placeholder="Email Address">
                                </div>
                                <div class="col">
                                    <input type="tel" class="form-control" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" rows="4" placeholder="Your Message"></textarea>
                            </div>
                            <button type="submit" class="btn-1 w-100">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>