<body>
    <div class="container mt-4 forum-detail">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">How to patch KDE on FreeBSD?</h5>
                        <p class="card-text">Mi magna sed nec nisl mattis. Magna cursus tincidunt rhoncus imperdiet fermentum pretium, pharetra nisl. Euismod.</p>
                        <div class="code-block">
                            <pre>
1 package main
2 import "fmt"
3
4 func main() {
5     fmt.Println("Hello, world!")
6 }
                        </pre>
                        </div>
                        <p class="card-text">Posuere arcu arcu consectetur turpis rhoncus tellus...</p>
                        <button class="btn btn-success"><i class="fas fa-thumbs-up"></i> Vote</button>
                    </div>
                </div>
                <div class="suggestions mt-3">
                    <input type="text" class="form-control" placeholder="Type here your wise suggestion">
                    <button class="btn btn-secondary mt-2">Suggest</button>
                </div>
                <div class="card card-body card-comment mt-3">
                    <div class="d-flex align-items-center mb-2">
                        <a href="#" class="user-picture me-2">
                            <img src="/img/avt3.jpg" alt="User Picture">
                        </a>
                        <div>
                            <strong>unkind</strong>
                            <p class="mb-0 text-muted" style="font-size: 0.9rem;">12 November 2020 19:35</p>
                        </div>

                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare rutrum amet, a nunc mi lacinia in iaculis.</p>
                    <div class="bg-light p-2 rounded">
                        <pre><code>1   package main</code></pre>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="#" class="me-3"><i class="far fa-thumbs-up"></i> 12</a>
                            <a href="#"><i class="far fa-comment"></i> 3</a>
                        </div>
                        <a href="#" class="text-decoration-none">Reply</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="user-info">
                    <img src="/img/Logo_FunnyCode.jpg" alt="Profile Picture" class="profile-pic mb-2">
                    <p>Golanginya</p>
                    <p><i class="fas fa-trophy"></i> 125 [ 8 ]</p>
                    <div>
                        <a href="#"><i class="fab fa-github fa-lg me-2"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-lg me-2"></i></a>
                        <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
