<body>
    <div class="sign-up">
        <div class="background-image">
            <div class="container d-flex">
                <div class="row w-100">
                    <div class="col-md-4">
                        <div class="signup-container p-4">
                            <h2 class="text-white">Sign Up</h2>
                            <hr class="text-white">
                            <form>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Enter your username" required>
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="form-control" placeholder="Enter your email" required>
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password" required>
                                </div>
                                <div class="form-check mb-3 text-white">
                                    <input type="checkbox" class="form-check-input" id="showPassword">
                                    <label class="form-check-label" for="showPassword">Remember me?</label>
                                </div>
                                <button type="submit" class="btn w-100">SIGN UP</button>
                            </form>
                            <hr class="text-white">
                            <p class="text-center text-white">Or continue with</p>
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-outline-light btn-google w-48">
                                    <i class="fab fa-google"></i>
                                    Google
                                </button>
                                <button class="btn btn-outline-light btn-facebook w-48">
                                    <i class="fab fa-facebook"></i>
                                    Facebook
                                </button>
                            </div>
                            <p class="text-center text-white mt-3 custom-link">
                                By registering you agree with our <a href="#">Terms and Conditions</a>
                            </p>
                            <p class="text-center text-white">
                                Already have an account? <a href="#" class="register-link fw-bold">Sign In</a> Here
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8 d-none d-md-block"></div>
                </div>
            </div>
        </div>
    </div>
</body>