@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";

    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3 class="text-center">Set your password</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info text-center">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>
<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            @if (Model.HasPassword)
            {
                <div class="form-floating mb-3">
                    <input asp-for="Input.CurrentPassword" class="form-control" autocomplete="current-password" placeholder="Please enter your current password." />
                    <label asp-for="Input.CurrentPassword" class="form-label"></label>
                    <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
                </div>
                <div class="text-center mb-3">
                    <a asp-page="/Account/ForgotPassword" class="text-decoration-none">Forget Password? Change Now</a>
                </div>
            }

            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Please confirm your new password." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn-1">Set Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
