@model FuCommunityWebModels.Models.OrderInfo

@{
    ViewData["Title"] = "DEPOSIT";
}

<div>
    <div class="container min-vh-100">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="payment card mt-4">
                    <div class="card-body">
                        <h2 class="text-center" style="color: #20B486; font-weight: bold; font-style: italic; font-size:40px;">Enter Payment Amount</h2>
                        <form asp-action="Pay" method="post">
                            <div class="form-group mb-3">
                                <label for="Amount">Amount (VND):</label>
                                <input type="number" class="form-control" id="Amount" name="Amount"
                                       placeholder="Enter the amount to pay" required />
                            </div>


                            <div class="d-block my-3">
                                <h5>Select Payment Method:</h5>
                                <div class="form-check">
                                    <input type="radio" id="bankcode_Vnbank" name="paymentMethod" value="VNBANK"
                                           class="form-check-input" />
                                    <label class="form-check-label" for="bankcode_Vnbank">ATM - Domestic Bank Account</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="bankcode_Intcard" name="paymentMethod" value="INTCARD"
                                           class="form-check-input" />
                                    <label class="form-check-label" for="bankcode_Intcard">International Card</label>
                                </div>
                            </div>
                            <div class="d-block my-3">
                                <h5>Select Language:</h5>
                                <div class="form-check">
                                    <input type="radio" id="locale_Vn" name="locale" value="vn" checked class="form-check-input" />
                                    <label class="form-check-label" for="locale_Vn">Vietnamese</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="locale_En" name="locale" value="en" class="form-check-input" />
                                    <label class="form-check-label" for="locale_En">English</label>
                                </div>

                                <button type="submit" class="btn-2 w-100 mt-3">Pay (Redirect)</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/bootstrap.min.js"></script>
