@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web

<div class="container-fluid admin view-dashboard">
    <div class="row">
        <!-- Sidebar -->
        <AdminSidebar />

        <!-- Main Content -->
        <div class="col-md-10 content">
            @Body
        </div>
    </div>
</div>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
